.back-landss{
    background-color: black;
    width: 100%;
    height: 600px;
    position: absolute;
}
.planet-age{
    position: absolute;
    background: orange;
    left: 30%;
    top: 50%;
    border-radius: 100px;
    width: 300px;
    height: 40px;
    padding-left: 50px;
    padding-top: 20px;
}
