.body{
    margin: 0px;
}
.box{
    position: absolute;
    left: 10px;
    top: 200px;
    height: 100px;
    width: 100px;
    background-color: red;
}
.box::before{
    position: absolute;
    content: "";
    border-radius: 100px ;
    background-color: yellow;
    width: 100px;
    height: 100px;
    left: 35px;
    bottom: 20px;
    border: solid rgb(255, 123, 0) 20px;
    
}
.box::after{
    content: "";
    border: solid;
    border-radius: 10px;
    padding: 100px;
    width: 100px;
    height: 100px;
    background-color: red;
    margin-bottom: 100px;
}
.top-bar{
    background-color: rgb(255, 123, 0);
    width: 100%;
    height: 15%;
}
.menu-logo{
    position: absolute;
    left: 10px;
    top: 5px;
    background-color: rgb(243, 243, 243);
    height: 10px;
    width: 60px;
}
.menu-logo::after{
    position: absolute;
    top: 20px;
    background-color: rgb(243, 243, 243);
    content: "";
    height: 10px;
    width: 60px;
}

.menu-logo::before{
    position: absolute;
    top: 40px;
    background-color: rgb(243, 243, 243);
    content: "";
    height: 10px;
    width: 60px;
}
.back-lands{
    background-color: red;
    width: 100%;
    height: 600px;

    
}
.boxbox{
    border: solid black;
    width: 50px;
    height: 40px;
    position: absolute;
    top: 70px;
    left: 75px;
    border-radius: 10px;
}
.boxbox::after{
    content: "";
    border: solid black;
    width: 25px;
    height: 15px;
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 10px;
}

.box{
    animation-name: box;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 0px;
    margin-top: 5px;
}
@keyframes box {
    0%{transform: translate(0,0px) rotate(0deg);}
    50%{transform: translate(0,15px) rotate(1deg);}
    75%{transform: translate(0,10px) rotate(-1deg);}
    100%{transform: translate(0,-0px) rotate(-0deg);}
}

.menu-background{
    position: absolute;
    top: 10px;
    width: 80px;
    height: 60px;
    margin: 0px;
    left: 93%;
    border-radius: 10px;
    animation: background 1.2s linear infinite;
    animation-timing-function: ease-in-out;
    animation-play-state: paused;
}


@keyframes background{
    0%{transform: translate(0,0px);}
    50%{transform: translate(0,2px);}
    100%{transform: translate(0,-0px);}
}

.menu-background:hover{
    animation-play-state: running;
    background-color: orange;
}
.red-sun{
    position: relative;
    top: -35px;
    font-family: fantasy;
    font-size: 50px;
    color: rgb(0, 0, 0);
    margin-left: 10px;
    background-color: rgb(228, 151, 9);
    width: 180px;
    
}
.back-sun{
    position: absolute;
    position: sticky;
    content: "";
    border-radius: 200px ;
    background-color: yellow;
    width: 200px;
    height: 200px;
    left: 40%;
    bottom: 150px;
    border: solid rgb(255, 123, 0) 40px;
}
.blacktrees{
    position: absolute;
    width: 55%;
    height: 100px;
    top: 510px;
}
.blacktreestwo{
    position: absolute;
    width: 50%;
    height: 100px;
    top: 510px;
    left: 50%;
}
.boxmid{
    width: 100%;
    height: 500px;
    background-color: black;
    position: absolute;
    top: 600px;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    margin-left: 10px;
    color: black;
}

.h1:hover{
     background-color: red;
}

.sun-left-quote{
    position: absolute;
    left: 75%;
    top: 200px;
    width: 270px;
    height: 200px;
    background-color: rgba(255, 245, 245, 0.199);
    border: solid rgba(255, 254, 254, 0.336);
    border-radius: 10px;
    padding: 10px;
}
.trees-camera{
    position: absolute;
    left: -75px;
    width: 200px;
    top: 20px;
}
.boxbox:hover{
    background-color: rgba(128, 128, 128, 0.349);
}
.back-lands-space{
    background-color: black;
    width: 100%;
    height: 600px;
}
.back-sun-about{
    position: absolute;
    content: "";
    border-radius: 200px ;
    background-color: yellow;
    width: 200px;
    height: 200px;
    left: 2%;
    top: 200px;
    border: solid rgb(255, 123, 0) 40px;
    animation-name: sunn;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes sunn{
    0%{transform: translate(0,0px);}
    50%{transform: translate(0,15px);}
    100%{transform: translate(0,-0px);}
}

